@default-color  : #fcfcfc;
@primary-color  : #2e9cd4;
@info-color     : #5bc0de;
@success-color  : #98cc34;
@warning-color  : #f0ad4e;
@danger-color   : #d9534f;

/* Color Theme FitPit */
@fp_green_1  : #0D0D0D;
@fp_green_2  : #0F260C;
@fp_green_3  : #012611;
@fp_green_4  : #01401C;
@fp_green_5  : #235915;
@fp_green_6  : #02733E;
@fp_green_7  : #038C3E;
@fp_green_8  : #428C20;
@fp_green_9  : #2acb35;
@fp_green_10 : #80f263;
@fp_textWhite: #FFF;


//@site-background: #f0f0f0;
@site-background: #fff;
@page-background: #fff;
@menu-background-gradient-from: #428C20;
@menu-background-gradient-to: #428C20;
@menu-text-color: @fp_textWhite;

@default-border-color: rgba(0,0,0,0.1);
@default-border-radius: 4px;
@default-gutter-size: 20px;
@default-line-height: 1.333333;
@default-link-color: #2acb35;
@default-shadow-color: rgba(0, 0, 0, 0.3);
@default-sidebar-width: 250px;
@default-text-font: 'Open Sans', Arial, sans-serif;
@default-text-color: #333;
@default-text-size: 15px;

@default-title-font: 'Exo 2', Arial, sans-serif;
@default-title-border-color: #e5e5e5;
@default-title-color: @default-text-color;

@breadcrumbs-background-color: #f3f3f3;

@form-input-background: #fff;
@form-input-padding: .5em;

@image-whitespace-color: #fff;

@table-striped-row-background-odd: #f9f9f9;
@table-striped-row-background-even: #fff;
@table-row-hover-background: #ececec;

@media-breakpoint-xs: 480px;
@media-breakpoint-sm: 768px;
@media-breakpoint-md: 992px;
@media-breakpoint-lg: 1200px;
