html {
	background: @site-background;
}

.navbar-contacts {
	height: 30px;
	line-height: 30px;
	text-align: right;
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-end;
	align-items: center;
	padding-right: 36px;
	opacity: 0.7;
	*, a {
		font-family: @default-title-font;
		font-size: 12px;
		font-weight: normal;
		color: @default-text-color;
	}
	.phones {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-content: flex-end;
		align-items: center;
		margin-right: 40px;
		img {
			margin-right: 10px;
		}
		span {
			display: inline-block;
			margin: 0 10px;
		}
	}
	.email {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		img {
			opacity: 0.3;
			margin-right: 6px;
		}
		span {
			text-decoration: underline;
		}
	}
}
.navbar-header {
	padding: 0 37px 0 102px;
	.user_nav {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin-left: 33px;
		a, li:not(.open) a {
			transition: all 0.3s;
			width: 36px;
			height: 36px;
			margin: 0 6px;
			border-radius: 50%;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: center;
			align-items: center;

			&:hover {
				background: @page-background;
			}
		}
	}
	#region {
		margin-block-start: 0;
		margin-block-end: 0;
		padding-inline-start: 0;
		li {
			a {
				padding: 0;
			}
		}
	}
	.navbar-form {
		margin: 0 !important;
		.input-group {
			border-radius: 0;
			border: none;
			.input-group-icon {
				padding: 0;
				margin: 0 15px 0 25px;
				width: 24px;
				height: 50px;
				background: url("../../images/icon_search.png") center no-repeat;
				i {display: none;}
			}
			.form-control {
				padding: 0;
				height: 50px;
				font-family: @default-title-font;
				font-size: 14px;
				font-weight: normal;
				color: @default-text-color;
			}
		}
	}
}
#page {
	min-height: 100vh;
	background: @page-background;
}

#header {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-content: space-between;
	-ms-flex-line-pack: justify;
	align-content: space-between;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: @default-gutter-size/2;
	margin: 0;

	@media (min-width: (@media-breakpoint-sm)) {
		padding: @default-gutter-size/2 @default-gutter-size;
	}

	@media (min-width: @media-breakpoint-lg) {
		//grid-template-columns: auto @default-sidebar-width;
	}

	@media (max-width: @media-breakpoint-lg) {
		//grid-template-columns: 200px auto 100px;
	}

	@media (max-width: @media-breakpoint-md) {
		//grid-template-columns: auto auto;
	}

	.text-center.hidden-md {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: space-between;
		align-items: center;

		@media (max-width: @media-breakpoint-md) {
			display: none;
		}
	}

}

.region-dropdown.dropdown-menu {
	background: @site-background;
	border-radius: @default-border-radius;
	box-shadow: inset 0 1px 2px @default-shadow-color;
	color: @default-text-color;
	font-size: 0.95em;
	padding: 5px 10px;
	width: 200px;
	min-width: 200px;
	float: none;

	li {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-align-content: space-between;
		-ms-flex-line-pack: justify;
		align-content: space-between;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;

		.currency {
			cursor: default;
			padding: 0;

			span {
				background: #e3ece0;
				border-bottom: 1px solid #fff;
				border-left: 1px solid #d1d1d1;
				border-right: 1px solid #fff;
				border-top: 1px solid #d1d1d1;
				padding: 1px 5px;
				border-radius: @default-border-radius;
			}
		}

		.country {
			cursor: default;
		}

		.change {
			padding-left: 0;
		}

		>div {
			display: inline-block;
			padding: 5px 5px;
		}
	}
}

#contacts_header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
	font-size: 0.95em;
	padding: 0;
	margin-left: 43px;

	@media (max-width: @media-breakpoint-sm) {
		margin-left: 0;
	}

	.phone a {
		color: @fp_green_3;
	}

	.icons {
		margin-left: 10px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: space-between;
		align-items: center;

		.icon {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: center;
			align-items: center;
			width: 36px;
			height: 36px;
			font-size: 20px;
			line-height: 40px;
			text-align: center;
			border-radius: 50%;
			color: #FFF;
			margin-left: 10px;
			transition: all 0.3s;
			transform: scale(1);

			&:hover {
				transform: scale(1.1);
			}

			img {
				display: block;
			}
			&.instagram {
				/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffb34c+0,fc5443+50,da3c84+100 */
				background: rgb(255,179,76);
				background: -moz-linear-gradient(45deg,  rgba(255,179,76,1) 0%, rgba(252,84,67,1) 50%, rgba(218,60,132,1) 100%);
				background: -webkit-linear-gradient(45deg,  rgba(255,179,76,1) 0%,rgba(252,84,67,1) 50%,rgba(218,60,132,1) 100%);
				background: linear-gradient(45deg,  rgba(255,179,76,1) 0%,rgba(252,84,67,1) 50%,rgba(218,60,132,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb34c', endColorstr='#da3c84',GradientType=1 );
			}
		}
	}
}

#cart {
	display: inline-block;
	//margin: 0 @default-gutter-size;

	>a {
		position: relative;
		display: flex;
		align-items: center;
		padding: 0px;
		color: inherit;
		white-space: nowrap;
		/*transition: all 0.3s;
		transform: scale(1);

		&:hover {
			transform: scale(1.1);
		}*/
	}

	/*img {
		max-width: 37px;
		max-height: 37px;
	}*/

	.badge {
		background: red;
		border-radius: 1.25rem;
		padding: .25rem;
		display: inline-block;
		text-align: center;
		color: #fff;
		font-size: 0.75em;
		position: absolute;
		right: 0;
		top: 1em;
		width: 2em;
		animation: pulsating 1.5s linear infinite;

		&:empty {
			display: none;
		}
	}

	@media (max-width: (@media-breakpoint-sm - 1px)) {
		.details {
			display: none;
		}
	}
}

#site-menu {
	//margin: 0 0 @default-gutter-size 0;
	//padding: 0 @default-gutter-size/2 0 60px;
	padding: 0 !important;
	position: relative;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	grid-template-columns: 335px auto;
	background: @fp_bgLGray;

	/*&:after {
		content: "";
		position: absolute;
		bottom: -2px;
		right: 0;
		left: 0;
		border-top: 1px dashed @fp_green_8;
	}*/
	@media (min-width: (@media-breakpoint-lg)) {
		//margin: 0 0 @default-gutter-size 0;
		padding: 12px @default-gutter-size 12px 73px;
	}

	@media (max-width: @media-breakpoint-lg) {
		padding: 12px @default-gutter-size/2;
	}

	.dropdown {
		&.open {
			a {
				&::after {
					opacity: 1;
				}
			}
		}
		a {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				bottom: -4px;
				right: 0;
				left: 0;
				height: 4px;
				background: @success-color;
				transition: all 0.3s;
				opacity: 0;
				z-index: 1001;
			}
		}
		.dropdown-menu {
			margin-left: 335px;
			min-width: ~"calc(100% - 335px)";
			li {
				a {
					font-family: @default-title-font;
					font-size: 15px;
					font-weight: normal;
					color: @fp_textGray;
					padding: 6px 20px;
					&::after {display: none;}
				}
			}
		}
	}
}

#cookies-acceptance {
	/*position: sticky;*/
	top: 0;
	z-index: 999;
	margin: 0 @default-gutter-size/2 0 @default-gutter-size/2;
	background: rgba(255, 255, 255, .9);
	border: 1px @default-border-color solid;
	border-top: none;
	border-radius: 0 0 4px 4px;
	padding: @default-gutter-size/2;
	text-align: center;

	@media (min-width: (@media-breakpoint-sm)) {
		margin: 0 @default-gutter-size 0 @default-gutter-size;
		padding: @default-gutter-size/2 @default-gutter-size;
	}
}

#main {
	padding: @default-gutter-size;

	@media (min-width: (@media-breakpoint-sm)) {
		padding: @default-gutter-size;
		//display: grid;
		//grid-template-columns: @default-sidebar-width auto;
		//grid-template-columns: max-content;
		//grid-template-areas: 'sidebar content';
		//grid-template-rows: 1fr;
	}
}

.grid-out {
	@media (min-width: (@media-breakpoint-sm)) {
		display: grid;
		grid-template-columns: @default-sidebar-width auto;
		grid-template-columns: max-content;
		grid-template-areas: 'sidebar content';
		grid-template-rows: 1fr;
	}

	.listing.products {
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		grid-gap: 10px;

		@media (min-width: (@media-breakpoint-xs)) {
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			grid-gap: 20px;
		}
	}
}

.products-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: flex-start;
}

#sidebar {
	position: relative;
	padding: @default-gutter-size;
	background: @page-background;
	color: @default-text-color;

	@media (min-width: (@media-breakpoint-sm)) {
		>*:first-child {
			margin-top: 0;
		}

		+#content {
			margin-left: @default-gutter-size;
		}
	}

	.title {
		color: @default-text-color;
		//border-bottom: 1px solid rgba(255,255,255,0.1);
		padding-left: @default-gutter-size/2;
		padding-right: @default-gutter-size/2;
	}

	.nav>li>ul>li {
		width: 100%;
	}
}

#content {
	grid-area: content;
	grid-gap: @default-gutter-size/2;

	@media (min-width: (@media-breakpoint-sm)) {
		grid-gap: @default-gutter-size;
	}
}

#footer {
	background: #000 url('../../../../../images/bg-01.jpg') center no-repeat;
	background-size: cover;

	.columns {
		display: grid;
		//grid-template-columns: repeat(2, 1fr);
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 15px;
		padding: 0 @default-gutter-size/2 @default-gutter-size @default-gutter-size/2;

		@media (min-width: (@media-breakpoint-sm)) {
			padding: 50px @default-gutter-size;
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: (@media-breakpoint-lg)) {
			grid-template-columns: repeat(5, 1fr);
		}

		@media (max-width: (@media-breakpoint-lg)) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: (@media-breakpoint-sm)) {
			grid-template-columns: repeat(1, 1fr);
			text-align: center;
		}
	}

	* {
		color: @fp_textWhite;
	}

	a:hover {
		color: @default-link-color;
	}

	.title {
		font-size: 18px;
		font-weight: bold;
		margin: 0;
	}

	ul.list-vertical {
		li {
			padding: 0;
		}
	}

	ul {
		li {
			a {
				font-family: @default-title-font;
				font-size: 14px;
				opacity: 0.6;
			}
		}
	}
}

#copyright {
	background: @success-color;
	color: @fp_textWhite;
	position: relative;

	/*&:before {
		content: "";
		position: absolute;
		top: -2px;
		right: 0;
		left: 0;
		border-bottom: 1px dashed @fp_green_8;
	}*/

	.notice {
		font-family: @default-title-font;
		font-size: 12px;
		line-height: 40px;
		color: #0D0D0D;
		text-align: center;

		a {
			color: #0D0D0D;
		}
	}
}

#scroll-up {
	display: none;
	position: fixed;
	width: 48px;
	height: 48px;
	bottom: 30px;
	right: 30px;
	color: @fp_green_10;
	opacity: 0.7;

	.fa {
		padding: 15px;
		border-radius: 50%;
		background: #000;
	}
}

.carousel-out {
	width: 100%;
	position: relative;
}

#box-slides {
	margin: 0 -@default-gutter-size;

	.slick-slide {
		&.slick-current.slick-active.slick-center {
			img {
				margin: 0;
				transform: scale(1);
			}
		}

		img {
			display: block;
			max-width: 100%;
			width: 100%;
			transition: all 0.3s ease;
			transform: scale(0.9);
		}
	}
}


.slick-arrow {
	position: absolute;
	z-index: 100;
	top: 50%;
	margin-top: -150px;
	width: 300px;
	height: 300px;
	padding: 0;
	text-align: center;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	color: @fp_green_10;
	transition: all 0.3s ease;

	&:hover {
		span {
			width: 300px;
			height: 100px;
			margin-top: -50px;
			background: rgba(0, 0, 0, 0.7);

			.fa {
				line-height: 100px;
			}
		}
	}

	&.slick-prev {
		left: 0;

		span {
			left: 0;
			padding-right: 10px;
			border-radius: 0 300px 300px 0;
		}
	}

	&.slick-next {
		right: 0;

		span {
			right: 0;
			padding-left: 10px;
			border-radius: 300px 0 0 300px;
		}
	}

	span {
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -150px;
		width: 80px;
		height: 300px;
		background: rgba(0, 0, 0, 0.8);
		transition: all 0.3s ease;

		.fa {
			font-size: 40px;
			line-height: 300px;
			transition: all 0.3s ease;
		}
	}
}

.slick-dots {
	position: absolute;
	bottom: -100px;
	right: 0;
	left: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;

	li {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		height: 50px;

		button {
			background: @fp_green_10;
			border: none;
			transition: all 0.3s;
			width: 10px;
			height: 10px;
			border-radius: 5px;
			margin: 0 5px;
			padding: 0;
			overflow: hidden;
			text-indent: -9999px;
		}

		&.slick-active {
			button {
				height: 50px;
			}
		}
	}
}

#box-process {
	background: url('../../images/process/process-bg.jpg') center no-repeat;
	background-size: cover;
	padding: 50px 0;
	margin: 0 -@default-gutter-size;
	text-align: center;
	font-family: @default-title-font;
	color: #FFF;

	h1 {
		color: #FFF;
		letter-spacing: 0.4px;
		font-weight: 600;
		line-height: 0.9;
		padding-top: 18px;
		border-bottom: none;
		margin-bottom: 50px;

		small {
			display: block;
			font-size: 18px;
			font-style: italic;
			font-weight: normal;
			text-transform: uppercase;
			color: @success-color;
			letter-spacing: 1.5px;
		}
	}

	.process-list {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-align-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		max-width: 1280px;
		margin: 0 auto;
		padding-bottom: 18px;

		.process-bx {
			width: 25%;
			font-size: 18px;
			font-weight: 600;
			position: relative;
			p {
				padding: 13px 0;
				margin-block-start: 0;
				margin-block-end: 0;
			}
			.line {
				position: absolute;
				width: 184px;
				height: 2px;
				background: @success-color;
				opacity: 0.5;
				top: 36px;
				right: -92px;
			}
		}
	}
}

#box-how-it-works {
	background: url('../../images/how-it-works-bg.jpg') center no-repeat;
	background-size: cover;
	margin: 0 -@default-gutter-size;
	padding: 50px @default-gutter-size;
	font-family: @default-title-font;
	color: #FFF;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	.video-container {
		overflow: hidden;
		position: relative;
		width: 50%;

		&:after {
			padding-top: 56.25%;
			display: block;
			content: '';
		}

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.how-it-works-text {
		width: 50%;
		padding-left: 50px;

		h1 {
			color: #FFF;
			letter-spacing: 0.4px;
			font-weight: 600;
			line-height: 0.9;
			border-bottom: none;
			margin-bottom: 50px;
	
			small {
				display: block;
				font-size: 18px;
				font-style: italic;
				font-weight: normal;
				text-transform: uppercase;
				color: @success-color;
				letter-spacing: 1.5px;
			}
		}
	}
}

#box-articles {
	padding: 50px 0 0 0;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	@media(max-width: @media-breakpoint-md) {
		flex-direction: column;
	}

	.panel-group,
	.pic-wrapp {
		width: 50%;
	}

	.panel-group {
		padding-right: 50px;

		@media(max-width: @media-breakpoint-lg) {
			width: 60%;
		}

		@media(max-width: @media-breakpoint-md) {
			width: 100%;
			padding-right: 0;
			margin-bottom: 20px;
		}
	}

	.pic-wrapp {
		@media(max-width: @media-breakpoint-lg) {
			width: 40%;
		}

		@media(max-width: @media-breakpoint-md) {
			width: 100%;
		}

		img {
			display: block;
			width: 100%;
		}
	}
}

#box-reviews-slider {
	background: url('../../images/rev-bg.jpg') center no-repeat;
	background-size: cover;
	margin: 0 -@default-gutter-size;
	padding: 150px @default-gutter-size;

	.reviews-slider {
		.slide {
			.review-out {
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-webkit-flex-wrap: nowrap;
				-ms-flex-wrap: nowrap;
				flex-wrap: nowrap;
				-webkit-justify-content: center;
				-ms-flex-pack: center;
				justify-content: center;
				-webkit-align-content: center;
				-ms-flex-line-pack: center;
				align-content: center;
				-webkit-align-items: center;
				-ms-flex-align: center;
				align-items: center;
				color: @fp_textWhite;

				img {
					margin-bottom: 20px;
				}

				.qt {
					font-family: @default-title-font;
					font-weight: 600;
					font-size: 180px;
					line-height: 83px;
					color: @success-color;
					margin-bottom: 0;
				}

				p {
					margin-bottom: 50px;
					font-size: 18px;
				}

				.review-author {
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					-webkit-flex-direction: row;
					-ms-flex-direction: row;
					flex-direction: row;
					-webkit-flex-wrap: nowrap;
					-ms-flex-wrap: nowrap;
					flex-wrap: nowrap;
					-webkit-justify-content: center;
					-ms-flex-pack: center;
					justify-content: center;
					-webkit-align-content: center;
					-ms-flex-line-pack: center;
					align-content: center;
					-webkit-align-items: center;
					-ms-flex-align: center;
					align-items: center;

					img {
						margin: 0 20px 0 0;
						width: 80px;
						border-radius: 50%;
						border: 2px solid @fp_green_10;
					}

					.name {
						display: block;
						font-size: 26px;

						@media(max-width: @media-breakpoint-xs) {
							font-size: 20px;
						}
					}

					.city {
						font-style: italic;
						font-size: 20px;
						color: @fp_green_10;

						@media(max-width: @media-breakpoint-xs) {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}

#box-manufacturer-logotypes {
	max-width: 1300px;
	border-bottom: 1px solid @default-border-color;
	margin: 76px auto;
	.list-inline {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		li {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: center;
			align-items: center;
			width: 25%;
			img {
				margin: 0 !important;
				max-width: 100%;
			}
		}
	}
}


@media (min-width: 1200px) {
	.hide_below_1200 {}
	.show_below_1200 {display: none;}
}
@media (max-width: 1200px) {
	.hide_below_1200 {display: none;}
	.show_below_1200 {
		display: block;

		.nav_row.n0 {
			background: @fp_bgLGray1;
			.navbar-contacts {
				text-align: center;
				justify-content: center;
				align-content: center;
				padding-right: 0;
				background: none;
				.box-content.phones {
					margin-right: 0;
				}
			}
		}
		.nav-out-custom {
			background: none;
			.nav_row {
				&.n1 {
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: space-between;
					align-content: space-between;
					align-items: center;
					background: @site-background;
					padding: 0 25px;
					.logotype {
						margin-right: 0;
						img {
							height: 48px;
							margin-left: 0;
						}
						span {
							font-size: 32px;
						}
					}
					.navbar-header {
						width: auto;
						padding: 0;
						.icon-bar {
							background: #111111;
						}
					}
					.navbar-toggle:not(.collapsed) .icon-bar:nth-of-type(2) {
						background-color: transparent;
					}
				}
				&.n2 {
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: space-between;
					align-content: space-between;
					align-items: center;
					background: @success-color;
					padding: 0 25px;
					height: 64px;
					#contacts_header {
						margin-left: 0;
						.icons {
							margin-left: 0;
							.icon {
								margin-left: 0;
								margin-right: 10px;
							}
						}
					}
					#cart {
						a {
							width: 40px;
							height: 40px;
							background: @fp_bgLGray2;
							border-radius: 50%;
							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							justify-content: center;
							align-content: center;
							align-items: center;
						}
					}
				}
				&.n3 {
					padding: 0 15px;
					position: relative;
					&::after {
						content: "";
						position: absolute;
						top: 0;
						bottom: 10px;
						right: 0;
						left: 0;
						background: @success-color;
						z-index: 0;
					}
					.navbar-header {
						padding: 0;
						position: relative;
						z-index: 2;
					}
				}
			}
			.site_menu__top_row {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-content: space-between;
				align-items: center;
				background: @success-color;
				margin-bottom: 0px;
				opacity: 1;
				
				padding: 0 25px;
				ul {
					list-style: none;
					padding-left: 0;
					li {
						a {
							color: #333;
							line-height: 2em;
						}
					}
				}
			}
			.site_menu__bottom_row {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-content: space-between;
				align-items: center;
				background: @success-color;
				margin-bottom: 1px;
				opacity: 1;
				height: 54px;
				padding: 0 25px;
				.email {
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: center;
					align-content: center;
					align-items: center;
					font-family: @default-title-font;
					font-size: 12px;
					font-weight: normal;
					color: @default-text-color;
					img {
						opacity: 0.3;
						margin-right: 6px;
					}
					span {
						text-decoration: underline;
					}
				}
				.user_nav {
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: center;
					align-content: center;
					align-items: center;
					a, li:not(.open) a {
						transition: all 0.3s;
						width: 36px;
						height: 36px;
						margin: 0 6px;
						border-radius: 50%;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						justify-content: center;
						align-content: center;
						align-items: center;
			
						&:hover {
							background: @page-background;
						}
					}
				}
				#region {
					margin-block-start: 0;
					margin-block-end: 0;
					padding-inline-start: 0;
					li {
						a {
							padding: 0;
						}
					}
				}
			}
		}
	}
}


#accordion {

	.collapse {
		display: none;
	}

	.collapse.in {
		display: block;
	}

	.collapsing {
		position: relative;
		height: 0;
		overflow: hidden;
		-webkit-transition-timing-function: ease;
		-o-transition-timing-function: ease;
		transition-timing-function: ease;
		-webkit-transition-duration: .35s;
		-o-transition-duration: .35s;
		transition-duration: .35s;
		-webkit-transition-property: height, visibility;
		-o-transition-property: height, visibility;
		transition-property: height, visibility;
	}

	.panel-group {
		.panel {
			border-radius: 0;
		}
	}

	.panel-default {
		.panel-heading {
			padding: 0;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			h1,
			h2,
			h3,
			h4 {
				padding-bottom: 0;
				margin: 0;
			}

			a {
				display: block;
				padding: 15px 20px;
				text-decoration: none;
				color: @fp_green_1;

				&:after {
					content: "";
					position: relative;
					top: 1px;
					display: block;
					font: normal normal normal 20px/1 FontAwesome;
					font-size: inherit;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					float: right;
					transition: transform .25s linear;
					-webkit-transition: -webkit-transform .25s linear;
				}
			}

			a[aria-expanded="true"] {
				background-color: @fp_green_1;
				color: @fp_green_9;
			}

			a[aria-expanded="true"]:after {
				content: "\f077";
			}

			a[aria-expanded="false"]:after {
				content: "\f078";
			}
		}

		.panel-body {
			padding: 20px;
			background-color: @fp_green_1;
			color: @fp_textWhite;
		}
	}
}

/*.buy_now {
  .form-group {
    .flex-form-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      .radio {
        label {}
        [type="radio"] {}
        [type="radio"]:checked + label {}
      }
    }
  }
}*/